swagger: "2.0"
info:
  description: "APIs xử lý nghiệp vụ về đăng nhập / đăng xuất và bảo mật thông tin của user trong hệ thống WayOS."
  version: "1.0.1"
  title: "Authentication"
host: "apiway.mavecons.com"
basePath: "/api"

schemes:
- "http"

paths:

  "/authentication/login":
    post:
      tags:
      - "Public APIs"
      summary: "Đăng nhập hệ thống, sau đó trả về  Access Token"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
            $ref: '#/definitions/UserLoginModel'
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"

  "/authentication/getauthdata":
    get:
      tags:
      - "Public APIs"
      summary: "Truy xuất thông tin user thông qua Access Token"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/authentication/validtoken":
    post:
      tags:
      - "Public APIs"
      summary: "Kiểm tra Access Token hợp lệ / còn hiệu lực"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"

  "/authentication/logout":
    post:
      tags:
      - "Public APIs"
      summary: "Đăng xuất hệ thống"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/authentication/getlistusertypes":
    get:
      tags:
      - "Internal APIs"
      summary: "Truy xuất thông tin Loại tài khoản"
      description: "Tài khoảng WayOS chia làm 3 loại: Owner account, Admin account, User account"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK
          
  "/authentication/switchcompany/{companyID}":
    post:
      tags:
      - "Internal APIs"
      summary: "Thay đổi công ty đăng nhập"
      description: "Nếu account user làm việc ở nhiều công ty, cho phép user switch từ công ty này sang công ty khác trên cùng Access Token mà không cần đăng xuất"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      - in: "path"
        name: "companyID"
        type: "integer"
        required: true
              
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
definitions:
  UserLoginModel:
    properties:
      StaffCode:
        type: string
      Passwords:
        type: string

  