swagger: "2.0"
info:
  description: "APIs for handling user's authentication data when interacting with WayOS backend"
  version: "1.0.1"
  title: "Company"
host: "apiway.mavecons.com"
basePath: "/api"
tags:
- name: "Functions List"
schemes:
- "http"
paths:
  "/companys/count":
    get:
      tags:
      - "Functions List"
      summary: "Get Total Companys"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/companys/listcompany":
    get:
      tags:
      - "Functions List"
      summary: "Get List Company"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "header"
        type: "number"
        name: "Page"
        required: true
        default: 1
      - in: "header"
        type: "number"
        name: "Limit"
        required: true
        default: 100
      - in: "query"
        name: "keySearch"
        type: "string"
        required: true
      - in: "query"
        name: "statusID"
        type: "integer"
        required: true
        
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/companys/getlistservicesbycompanyid/{companyID}":
    get:
      tags:
      - "Functions List"
      summary: "get list services by company id"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "path"
        name: "companyID"
        type: "integer"
        required: true
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK" 
          
  "/companys/toggleservicebycompanyid/{serviceID}/{companyID}":
    put:
      tags:
      - "Functions List"
      summary: "toggle service by company id"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "path"
        name: "serviceID"
        type: "integer"
        required: true
      - in: "path"
        name: "companyID"
        type: "integer"
        required: true
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK" 
      
  "/companys/getdropdownlist":
    get:
      tags:
      - "Functions List"
      summary: "get dropdown list"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/companys/mycompany/getlistservices":
    get:
      tags:
      - "Functions List"
      summary: "get list services"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK" 
          
  "/companys/mycompany/toggleservice/{serviceID}":
    post:
      tags:
      - "Functions List"
      summary: "toggle service"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "path"
        name: "serviceID"
        type: "integer"
        required: true
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK" 
          
  "/companys/mycompany":
    get:
      tags:
      - "Functions List"
      summary: "get my company"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK" 
          
  "/companys/companybyid/{companyID}":
    get:
      tags:
      - "Functions List"
      summary: "get company by id"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "path"
        name: "companyID"
        type: "integer"
        required: true
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK" 
          
  "/companys/createcompany":
    post:
      tags:
      - "Functions List"
      summary: "create company"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "path"
        name: "companyID"
        type: "integer"
        required: true
      - in: "body"
        name: "Body"
        required: true
        schema:
          type: "object"
          properties:
            CompanyID:
              type: "integer"
            Logo:
              type: "string"
            CompanyName:
              type: "string"
            CompanyDescription:
              type: "string"
            Address:
              type: "string"
            Phone:
              type: "string"
            StatusID:
              type: "integer"
      
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/companys/updatecompany/{companyID}":
    put:
      tags:
      - "Functions List"
      summary: "update company"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "path"
        name: "companyID"
        type: "integer"
        required: true
      - in: "body"
        name: "Body"
        required: true
        schema:
          type: "object"
          properties:
            CompanyID:
              type: "integer"
            Logo:
              type: "string"
            CompanyName:
              type: "string"
            CompanyDescription:
              type: "string"
            Address:
              type: "string"
            Phone:
              type: "string"
            StatusID:
              type: "integer"
      
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/companys/updatestatuscompany/{companyID}":
    put:
      tags:
      - "Functions List"
      summary: "update status company"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "path"
        name: "companyID"
        type: "integer"
        required: true
      - in: "body"
        name: "Body"
        required: true
        schema:
          type: "object"
          properties:
            StaffFullName:
              type: "string"
            StatusID:
              type: "integer"
      
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/companys/search":
    post:
      tags:
      - "Functions List"
      summary: "search"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "query"
        name: "keyword"
        type: "string"
        required: true
      
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"