swagger: "2.0"
info:
  description: "APIs for handling user's authentication data when interacting with WayOS backend"
  version: "1.0.1"
  title: "Departments"
host: "apiway.mavecons.com"
basePath: "/api"
tags:
- name: "Functions List"
schemes:
- "http"
paths:
  "/departments/listdepartment":
    get:
      tags:
      - "Functions List"
      summary: "Liệt kê các phòng ban"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "header"
        type: "number"
        name: "Page"
        required: true
        default: 1
      - in: "header"
        type: "number"
        name: "Limit"
        required: true
        default: 100
      - in: "query"
        name: "keySearch"
        type: "string"
        required: true
      - in: "query"
        name: "statusID"
        type: "integer"
        required: true
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/departments/getliststaffs/{departmentID}":
    get:
      tags:
      - "Functions List"
      summary: "Danh sách nhân viên của phòng ban theo departmentID truyền CompanyID"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "header"
        type: "number"
        name: "Page"
        required: true
        default: 1
      - in: "header"
        type: "number"
        name: "Limit"
        required: true
        default: 100
      - in: "path"
        name: "departmentID"
        type: "integer"
        required: true
      - in: "query"
        name: "CompanyID"
        type: "integer"
        required: true
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  
  "/departments/dropdownlistdepartments":
    get:
      tags:
      - "Functions List"
      summary: "Liệt kê thông tin vừa đủ của các phòng ban"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/departments/departmentbyid/{departmentID}":
    get:
      tags:
      - "Functions List"
      summary: "Danh sách phòng ban theo departmentID"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "path"
        name: "departmentID"
        type: "integer"
        required: true
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/departments/search":
    get:
      tags:
      - "Functions List"
      summary: "Tìm kiếm phòng ban truyền từ khóa vào"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "query"
        name: "keyword"
        type: "string"
        required: true
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/departments/createdepartment":
    post:
      tags:
      - "Functions List"
      summary: "Tạo mới phòng ban"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "header"
        type: "number"
        name: "Page"
        required: true
        default: 1
      - in: "header"
        type: "number"
        name: "Limit"
        required: true
        default: 100
      - in: "body"
        name: "Body"
        required: true
        schema:
            $ref: '#/definitions/Department'
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/departments/updatedepartment/{departmentID}":
    put:
      tags:
      - "Functions List"
      summary: "Cập nhật thông tin phòng ban"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "header"
        type: "number"
        name: "Page"
        required: true
        default: 1
      - in: "header"
        type: "number"
        name: "Limit"
        required: true
        default: 100
      - in: "path"
        type: "integer"
        name: "departmentID"
        required: true
      - in: "body"
        name: "Body"
        required: true
        schema:
            $ref: '#/definitions/Department'
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/departments/updatestatusdepartment/{departmentID}":
    put:
      tags:
      - "Functions List"
      summary: "Cập nhật trạng thái thông tin phòng ban và chỉ có người có quyền mới được cập nhật"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "header"
        type: "number"
        name: "Page"
        required: true
        default: 1
      - in: "header"
        type: "number"
        name: "Limit"
        required: true
        default: 100
      - in: "path"
        type: "integer"
        name: "departmentID"
        required: true
      - in: "body"
        name: "Body"
        required: true
        schema:
            $ref: '#/definitions/Department'
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
definitions:
  Department:
    properties:
      DepartmentID:
              type: "integer"
      CompanyID:
              type: "integer"
      DepartmentName:
              type: "string"
      DepartmentDescription:
              type: "string"
      StatusID:
              type: "integer"