swagger: "2.0"
info:
  description: "APIs hỗ trợ lấy xem, xóa, sửa, tạo mới thông tin của một nhân viên "
  version: "1.0.1"
  title: "Staff"
host: "apiway.mavecons.com"
basePath: "/api"
tags:
- name: "Functions List"
schemes:
- "http"
paths:
          
  "/staff/getprofile":
    get:
      tags:
      - "Functions List"
      summary: "Lấy thông tin hồ sơ của token truyền vào"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/getdropdownlist":
    get:
      tags:
      - "Functions List"
      summary: "Lấy thông tin vừa và đủ cho hồ sơ"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "query"
        name: "statusID"
        type: "integer"
        required: true
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/searchdropdownlist":
    get:
      tags:
      - "Functions List"
      summary: "Tìm kiếm thông tin theo statusID hoặc keySearch hoặc dùng cả 2"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "query"
        name: "statusID"
        type: "integer"
        required: true
      - in: "query"
        name: "keySearch"
        type: "string"
        required: true
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/getprofile/{staffID}":
    get:
      tags:
      - "Functions List"
      summary: "Lấy tất cả thông tin theo ID"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      - in: "path"
        name: "staffID"
        type: "integer"
        required: true
              
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/getlistcompanystaffs":
    get:
      tags:
      - "Functions List"
      summary: "Lấy tất cả danh sách nhân viên của công ty có thể truyền theo cái id của bộ phận"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "query"
        name: "search"
        type: "string"
        required: true
      - in: "query"
        name: "status"
        type: "integer"
        required: true
      - in: "query"
        name: "departmentID"
        type: "integer"
        required: true
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/getlistadmins":
    get:
      tags:
      - "Internal APIs"
      summary: "Liệt kê danh sách quản trị viên"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/getheaderinfo":
    get:
      tags:
      - "Functions List"
      summary: "Liệt kê thông tin nhân viên có tên công ty của Token truyền vào"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/getuserapproverequest":
    get:
      tags:
      - "Functions List"
      summary: " Liệt kê người dùng chấp thuận yêu cầu"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
              
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/getusermanagerrequest/{departmentID}":
    get:
      tags:
      - "Functions List"
      summary: "Danh sách người dùng nhận yêu cầu quản lý người dùng có thể theo ID bộ phận"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      - in: "path"
        name: "departmentID"
        type: "integer"
        required: true
              
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/searchgroups/{staffID}":
    get:
      tags:
      - "Functions List"
      summary: "Tìm kiếm nhóm theo staffID và truyền thêm tên tìm kiếm"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      - in: "path"
        name: "staffID"
        type: "integer"
        required: true
        
      - in: "query"
        name: "searchText"
        type: "string"
        required: true
              
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/createstaff":
    post:
      tags:
      - "Functions List"
      summary: "Tạo mới một nhân viên"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "body"
        name: "Body"
        required: true
        schema:
            $ref: '#/definitions/StaffDetailsModel'
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/getuserbystaffidandcompanyID/{UserRequirementID}":
    get:
      tags:
      - "Functions List"
      summary: "Danh sách người tạo ra nhân viên bởi cái staffID và cái companyID truyền vào cái User Requirement ID"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      - in: "path"
        name: "UserRequirementID"
        type: "integer"
        required: true
              
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/updatestaff/{staffID}":
    put:
      tags:
      - "Functions List"
      summary: "Cập nhật thông tin nhân viên"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "path"
        name: "staffID"
        type: "integer"
        required: true
      - in: "body"
        name: "Body"
        required: true
        schema:
            $ref: '#/definitions/StaffDetailsModel'
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/updateadmin/{staffID}":
    put:
      tags:
      - "Functions List"
      summary: "Cập nhật thông tin quản trị viên cần truyền vào ID Nhân viên"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
      - in: "path"
        name: "staffID"
        type: "integer"
        required: true
      - in: "body"
        name: "Body"
        required: true
        schema:
            $ref: '#/definitions/StaffDetailsModel'
  
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/deletestaff/{staffID}":
    put:
      tags:
      - "Functions List"
      summary: "Xóa nhân viên theo ID của nhân viên"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      - in: "path"
        name: "staffID"
        type: "integer"
        required: true
              
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
  "/staff/updategroups/{staffID}":
    put:
      tags:
      - "Functions List"
      summary: "Cập nhật thông tin nhóm theo ID nhân viên"
      parameters:
      - in: "header"
        type: "string"
        name: "Authorization"
        required: true
        
      - in: "path"
        name: "staffID"
        type: "integer"
        required: true
        
      - in: "body"
        name: "Body"
        required: true
        schema:
            $ref: '#/definitions/GroupOfMemberUpdateBody'
              
      responses:
        500:
          description: "Internal server error"
        200:
          description: "OK"
          
definitions:
  GroupOfMemberUpdateBody:
    properties:
      ListItems:
              type: "array"
              items: 
                type: "object"
                properties:
                  GroupID:
                    type: "integer"
                  GroupName:
                    type: "string"
                  GroupDescription:
                    type: "string"
                  AccessAllowed: 
                    type: "boolean"
                  StaffID:
                    type: "integer"
  StaffDetailsModel:
    properties:
            StaffCode:
              type: string
            CompanyID:
              type: integer
            CompanyName:
              type: string
            Email:
              type: string
            Phone:
              type: string
            Passwords:
              type: string
            FullName:
              type: string
    
  